# Import

In [1]:
import pandas as pd
import numpy as np

# Load and Read Data

In [2]:
# load the data from IMDB
basics_df = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t', low_memory=False)
akas_df = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t', low_memory=False)
ratings_df = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t', low_memory=False)

In [3]:
# View the shapes of the dfs
print(f'The shape of basics_df is {basics_df.shape}.')
print(f'The shape of akas_df is {akas_df.shape}.')
print(f'The shape of ratings_df is {ratings_df.shape}.')

The shape of basics_df is (9187629, 9).
The shape of akas_df is (33028351, 8).
The shape of ratings_df is (1257564, 3).

# Filter and Cleaning basics_df

- [x] Replace "\N" with np.nan
- [x] Eliminate movies that are null for runtimeMinutes
- [x] Eliminate movies that are null for genre
- [x] keep only titleType==Movie
- [x] keep startYear 2000-2022
- [x] Eliminate movies that include "Documentary" in genre

In [4]:
# Replace all'\N' with np.nan
basics_df = basics_df.replace({'\\N':np.nan})

In [5]:
# Count the amount of missing values in runtimeMinutes
basics_df['runtimeMinutes'].isna().sum()

6722451

In [6]:
# drop rows which have a missing value for runtimeMinutes
basics_df.dropna(subset=['runtimeMinutes'], inplace=True)

# Count the amount of missing values in runtimeMinutes
basics_df['runtimeMinutes'].isna().sum()

0

In [7]:
# Count the amount of missing values in genres
basics_df['genres'].isna().sum()

67352

In [8]:
# drop rows which have a missing value for genres
basics_df.dropna(subset=['genres'], inplace=True)

# Count the amount of missing values in genres
basics_df['genres'].isna().sum()

0

In [9]:
# Exploring 'titleType' column value counts
basics_df['titleType'].value_counts()

tvEpisode       1064068
short            574453
movie            367090
video            175101
tvMovie           88312
tvSeries          86579
tvSpecial         16466
tvMiniSeries      16079
tvShort            9380
videoGame           298
Name: titleType, dtype: int64

In [10]:
# Dropping all titles that are not 'movie'
basics_df = basics_df[basics_df['titleType'] == 'movie']

In [11]:
# Reviewing 'titleType' column value counts
basics_df['titleType'].value_counts()

movie    367090
Name: titleType, dtype: int64

In [12]:
# Review column info on startYear
basics_df.info()

# Going to convert startYear to 'int' from 'object'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367090 entries, 8 to 9187579
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          367090 non-null  object
 1   titleType       367090 non-null  object
 2   primaryTitle    367090 non-null  object
 3   originalTitle   367090 non-null  object
 4   isAdult         367090 non-null  object
 5   startYear       361273 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  367090 non-null  object
 8   genres          367090 non-null  object
dtypes: object(9)
memory usage: 28.0+ MB

In [13]:
# filling in missing values as '0' and changing column type as 'int'
basics_df['startYear'] = basics_df['startYear'].fillna(0).astype(int)

In [14]:
# Keeming all movies made on or after 2000
basics_df = basics_df[(basics_df['startYear'] >= 2000) & (basics_df['startYear'] < 2022)]

In [15]:
# Reviewing column info for 'startYear'
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207454 entries, 13079 to 9187579
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          207454 non-null  object
 1   titleType       207454 non-null  object
 2   primaryTitle    207454 non-null  object
 3   originalTitle   207454 non-null  object
 4   isAdult         207454 non-null  object
 5   startYear       207454 non-null  int32
 6   endYear         0 non-null       object
 7   runtimeMinutes  207454 non-null  object
 8   genres          207454 non-null  object
dtypes: int32(1), object(8)
memory usage: 15.0+ MB

In [16]:
basics_df['startYear'].describe()

count    207454.000000
mean       2012.817246
std           5.602001
min        2000.000000
25%        2009.000000
50%        2014.000000
75%        2017.000000
max        2021.000000
Name: startYear, dtype: float64

Below are references for finding a word in a column

[reference 1](https://stackoverflow.com/questions/62281375/how-to-find-words-in-pandas-or-the-combination-of-two-words1)

[reference 2](https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852#:~:text=Using%20%E2%80%9Ccontains%E2%80%9D%20to%20Find%20a%20Substring%20in%20a%20Pandas%20DataFrame&text=The%20contains%20method%20returns%20boolean,contains(%22substring%22)%20.)

In [17]:
# Review genres column for 'documentary'
basics_df.loc[basics_df['genres'].str.contains('Documentary', case=False)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
66305,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006,NaN,47,Documentary
95114,tt0097304,movie,Everything's for You,Everything's for You,0,2009,NaN,58,Documentary
102619,tt0104988,movie,Neues in Wittstock,Neues in Wittstock,0,2021,NaN,100,Documentary
106678,tt0109173,movie,Auf allen Meeren,Auf allen Meeren,0,2002,NaN,95,Documentary
...,...,...,...,...,...,...,...,...,...
9187297,tt9916160,movie,Drømmeland,Drømmeland,0,2019,NaN,72,Documentary
9187308,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,0,2017,NaN,84,Documentary
9187519,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9187546,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9187579,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [18]:
# Eliminate movies that include "Documentary" in genre
basics_df = basics_df.loc[~basics_df['genres'].str.contains('Documentary', case=False)]

In [19]:
# Review genres column for 'documentary'
basics_df.loc[basics_df['genres'].str.contains('Documentary', case=False)]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

# Filter and Cleaning akas_df

- [x] Replace "\N" with np.nan
- [x] Keep only US entries

In [20]:
# Replacing '\N' with np.nan
akas_df = akas_df.replace({'\\N':np.nan})

In [21]:
# Exploring akas_df['region']
akas_df['region'].value_counts()

FR    3943876
JP    3943733
DE    3926949
IN    3872196
ES    3866955
       ...
TV          1
NU          1
PW          1
NR          1
TC          1
Name: region, Length: 247, dtype: int64

In [22]:
# Dropping all titles that are not US entries
akas_df = akas_df[akas_df['region'] == 'US']

In [23]:
# Reviewing akas_df['region']
akas_df['region'].value_counts()

US    1345024
Name: region, dtype: int64

# Filter and Cleaning ratings_df

- [x] Replace '\N' with np.nan

In [24]:
# Replacing '\N' with np.nan
ratings_df = ratings_df.replace({'\\N':np.nan})

# Filtering one dataframe based on another

In [25]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers_df = basics_df['tconst'].isin(akas_df['titleId'])
keepers_df

34790       True
61090       True
67636       True
77930      False
86767       True
           ...
9187301     True
9187310     True
9187349    False
9187394     True
9187478    False
Name: tconst, Length: 136778, dtype: bool

In [26]:
# Filter basics
basics = basics_df[keepers_df]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61090,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67636,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86767,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92732,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9186765,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9187161,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9187301,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9187310,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9187394,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

# Saving the Files in Your Repository

In [27]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

## Save current dataframe to file.
akas_df.to_csv("Data/titles_akas.csv.gz",compression='gzip',index=False)

## Save current dataframe to file.
ratings_df.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [28]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

# Final .info() check

In [29]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79645 entries, 0 to 79644
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79645 non-null  object
 1   titleType       79645 non-null  object
 2   primaryTitle    79645 non-null  object
 3   originalTitle   79645 non-null  object
 4   isAdult         79645 non-null  int64
 5   startYear       79645 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  79645 non-null  int64
 8   genres          79645 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.5+ MB